<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>

    <section class="main-content">
        <h2>{{ page.title }}
        </h2>


        <p class="meta">
            <span>{{ page.date | date_to_string }}<span>
        </p>

		<!-- toc -->
		<div id="toc"></div>

		<blockquote><p><i>注意：代码都需要理解含义，根据真实情况进行修改</i></p></blockquote>


        {{ content }}

        <!--Links-->
        <span class="tag-list">
            #
            {% for tag in page.tags %}
            {{ tag }}
            {% endfor %}
        </span>
        {% include page-footer.html %}

    </section>

</body>
</html>
